# Backend
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=SmartBudget;Username=postgres;Password=postgres
Email__ApiKey=your-brevo-api-key
Email__FromEmail=your-email
FrontendUrl=http://localhost:3000

# Frontend

#client
NEXT_PUBLIC_API_URL=http://localhost:8080/api/

#server
API_URL=http://backend:8080/api/